/*  
Colores de mi sitio web
/primary: #383e56
secondary: #f69e7b
light: #eedad1
info: #d4b5b0
*/

body {
  padding: 0;
  margin: 0;
}

.bg-primary {
  background-color: #383e56;
}

.bg-secondary {
  background-color: #f69e7b;
}

.bg-light {
  background-color: #eedad1;
}

.bg-info {
  background-color: #d4b5b0;
}

.text-light {
  color: #eedad1;
}

.text-primary {
  color: #383e56;
}

.text-secondary {
  color: #f69e7b;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.width-100 {
  width: 100px;
}

.width-180 {
  width: 180px;
}
